html,
body {
    min-height: 100%;
    display: flex;
    margin : 0;
    justify-content: center;
    flex-direction: column;
}

canvas {
    border: 4px solid gray;
    margin: auto;
}
.time{
	text-align:center;
	font-family: sans-serif;
	font-size: 20px;
}

#range{
	margin:auto;
	position: absolute;
	display : flex;
}

#range input{
	left:-50%;  
	position: relative;
}